@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: Oswald, serif;
    background: linear-gradient(180deg, #58F3FD 0%, #FF49FF 100%);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(129, 129, 129);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(129, 129, 129);
}

.sidebar {
    color: #6200ff;
    background: linear-gradient(90deg, #58F3FD 0%, #FF49FF 100%);

}

.card {
    background: linear-gradient(90deg, #58F3FD 0%, #FF49FF 100%);
    color: black;
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text,
.footer-text {
    color: black;
    margin: auto auto;
}

footer 
 {
    background: linear-gradient(360deg, #58F3FD 0%, #FF49FF 100%);
    color: black;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg-anime {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}